.products-item {
  display: flex;
  flex: 1 1 33.33%;
  margin-left: 3.5%;

  @media screen and (max-width: 1190px) {

    flex: 1 1 28.5%;
    margin-right: 2%;
  }

  @media screen and (max-width: 767px) {
  }

  &:first-of-type {
    margin-left: 3%;
  }

  &__image {
 
    flex-basis: auto;
    >img {
      width: unset;
      height: auto;
    }
  }
  &__title {
    margin-top: 12px;
    font-size: 14px;
    text-decoration: underline;
    color: #545454;

    &:hover {
      text-decoration: none;
    }
  }
}