.main-collections {
 
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    padding-left: 4%;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Noto Sans KR';
        
    @media screen and (max-width: 1190px) {
      padding: 0 0 0 4%;
    }
    @media screen and (max-width: 767px) {
      padding: 0 0 0 6%;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}