.menu__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  z-index: 200;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s ease-out;
  background: #fff;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1% 15%;

    &.is-open {
      transform: translate3d(0, 0, 0);
    }

    &__header {
      display: flex;
      align-items: center;
      padding: 4% 0;
      border-bottom: 1px solid hsl(0, 0%, 90%);
    }

    &__title {
      font-size: 13px;
      padding-bottom: 1%;
      color: #292929;

      &.show__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .home__text,
      .show__text {
        text-decoration: underline;
        color: #292929;

        &::after {
          content: "/";
          display: inline-block;
          margin: 0 4px;
          color: #c8c8c8;
        }
      }
    }
  }

  &-footer {
    width: 100vw;
    height: 100%;

    li {
      border-top: 1px solid #f4f4f4;
      border-bottom: 1px solid #f4f4f4;

      i {
        width: 30px;
        margin: 0 15px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 5% 12.5%;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 19px;


    &__close {
      display: none;
    }

    &__item {
      display: flex;
      padding: 4% 2%;
      color: #000;

      &:nth-of-type(5n) {
        font-weight: 500;

        i {
          display: none;
        }
      }

      i {
        margin-left: auto;
        font-size: 21px;
        color: #292929;

      }
    }
  }

  .button__arrow {

    >img {
      width: 20px;
      transform: rotate(180deg);
    }
  }

  .button__close {
    margin-left: auto;

    i {
      font-size: 21px;
    }
  }
}