.products-item {
  width: calc(100vw * 0.275);
  margin-left: 2.5%;

  @media screen and(max-width: 1190px) {
    width: calc(100vw * 0.40);
    margin-left: 2%;
  }

  @media screen and(max-width: 768px) {
    width: calc(100vw * 0.8);
    margin-left: 1%;
  }

  &__image {
    >img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    line-height: 25px;
    font-size: 15px;
    text-decoration: underline;
    color: #545454;

    &:hover {
      text-decoration: none;
    }
  }
}