.insides-item {
  display: flex;
  background-color: antiquewhite;

  &__image {
    flex: 1 1 55%;
    background: orange;

    >img {
      width: unset;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // flex: 1 1 45%;
  }

  &__sub-title {}

  &_text {}
}