.allShare {
  padding: 5% 7%;

  @media only screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    padding: 4% 4% 4% 1.5%;
  }


  &__list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      font-size: 0.750em;
      line-height: 1.500em;
      color: #292929;

      a::after {
        content: "|";
        margin: 0 0.625em;
        color: #999;
      }

      &:last-of-type a::after {
        content: "";
      }
    }
  }

  .button__language {

    img {
      width: 1.667em;
      height: 1.667em;
      margin-right: 0.313em;
      vertical-align: middle;
    }

    &-text {
      font-size: 0.750em;
      color: #292929;
      text-decoration: underline;
      vertical-align: middle;

      &:hover {
        text-decoration: none;
      }
    }
  }
}