@import "../../styles/common.scss";

.main-products {

  &__slide-wrapper {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 54px 65px 25px 62px;

    @media screen and(max-width: 1190px) {
      padding-left: calc(100vw / 20);
      padding-right: calc(100vw /40);
    }
  }

  &__title {
    font-size: 27px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;

  }

  &__slide-count {
    @include count-text;
    font-size: 18px;

    .button--prev {
      font-size: 20px;
    }

    .start--count {
      margin-left: 5px;
    }

    .center {
      margin: 0 5px;
    }

    .button--next {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  &__image-slide {
    display: flex;
    overflow: hidden;
    margin-left: 0;
  }

  @media screen and(max-width: 767px) {
    &__slide-count {
      display: none;
    }
  }
}
