@import "../../../styles/common.scss";

.main-products {
  &__slide-wrapper {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 54px 65px 25px 0;

    @media screen and(max-width: 1190px) {
      padding-right: calc(100vw /40);
    }

  }

  &__title {
    padding-left: 4.9%;
    font-size: 26px;
    font-weight: 600;
    color: #292929;

    @media screen and(max-width: 767px) {
      font-size: 22px;
      padding-left: 8%;
    }
  }

  &__slide-count {
    @include count-text;
    font-size: 20px;

    .button--prev {
      font-size: 20px;
    }

    .start-count {
      margin-left: 5px;
    }

    .center {
      margin: 0 5px;
    }

    .button--next {
      font-size: 20px;
      margin-left: 5px;
    }

    @media screen and(max-width: 767px) {
      display: none;

    }
  }

  &__image-wrapper {
    width: 100vw;
    overflow: hidden;
  }

  &__image-slide {
    display: flex;
    width: max-content;

  }

}