@import "../../styles/common.scss";

.slide {
  margin-top: 0.5%;

  @media screen and(max-width:768px) {
    margin-top: 20%;
  }

  &-wrapper__products {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
  }

  &-wrapper__insides {
    display: flex;
    padding-top: 2%;
    z-index: 1;
    color: #fff;

    @media screen and(max-width:768px) {
      padding-top: 6%;
    }
  }

  &-title__products {
    padding-left: 4.4%;
    font-size: 24px;
    font-weight: 600;
    color: #292929
  }

  &-title__insides {
    padding-left: 4.9%;
    font-size: 24px;
    font-weight: 600;

    @media screen and(max-width: 768px) {
      font-size: 22px;
      padding-left: 8%;
    }
  }

  &-count__list-products {
    @include count-text;
    font-size: 20px;
    padding-right: 2%;
    color: #292929;

    .button--prev {
      font-size: 20px;

      @media screen and(max-width: 768px) {
        font-size: 15px;
      }
    }

    .start-count {
      margin-left: 5px;
    }

    .center {
      margin: 0 5px;
    }

    .button--next {
      font-size: 20px;
      margin-left: 5px;

      @media screen and(max-width: 768px) {
        font-size: 17px;
      }
    }
  }

  &-count__list-insides {
    @include count-text;
    font-size: 20px;
    padding-right: 2%;

    .button--prev {
      color: #fff;
      font-size: 20px;
      &:disabled{
        color: #888;
      }

      @media screen and(max-width: 768px) {
        font-size: 15px;
      }
    }

    .start-count {
      margin-left: 5px;
    }

    .center {
      margin: 0 5px;
    }

    .button--next {
      font-size: 20px;
      margin-left: 5px;
      color: #fff;

      &:disabled{
        color: #888;
      }
    }
  }
}