@import "../../styles/common.scss";

.main-insides {
  &__slide-wrapper {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 30px 65px 25px 80px;
    background: orange;
  }

  &__title {
    font-size: 27px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
  }

  &__slide-count {
    @include count-text;
    font-size: 18px;

    .button--prev {
      font-size: 20px;
    }

    .start-count {
      margin-left: 5px;
    }

    .center {
      margin: 0 5px;
    }

    .button--next {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  .inside-list {
    display: flex;
    overflow-x: hidden;
  }
}