@import "../../../../../styles/common.scss";

.collections-item {
  position: relative;
  padding: 1.8%;
  width: 48%;
  height: 100%;

  @media screen and (max-width: 1190px) {
    padding: 2%;

  }

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 5% 0 0 0;
  }

  &__image {
    height: calc(100% - 30%);

    >img {
      width: 100%;
    }
  }

  &__content {
    @include flex-column-end;
    align-items: flex-start;
    position: absolute;
    bottom: 8%;
    left: 11%;
    height: 100%;
    z-index: 400;

    @media screen and (max-width: 767px) {
      padding-bottom: 10%;
    }
  }

  &__title {
    font-size: 1.500em;
    font-weight: 600;


    @media screen and (max-width: 1190px) {
      font-size: 1.375em;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.188em;
    }
  }
}